.container{
    box-sizing: border-box;
    background-color: gray;
    height: 50vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    border-style: ridge;
    border-radius: 20px;
    border-width: 8px;
    border-color: black;
}

.displayContainer{
    box-sizing: border-box;
    border-bottom: 8px ridge black;
    flex: 1;
    display: flex;
    padding-left: 20px;
    background-color: rgb(183, 183, 183);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display{
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}

.opDisplay{
    box-sizing: border-box;
    border-left: 4px solid rgba(99, 99, 99, 0.946);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0 40px 0 40px;
}

.row{
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.num, .op, .clear, .equals{
    flex: 1;
    border-radius: 25px;
    margin: 5px;
    font-size: 25px;
    font-weight: 700;
}

.op{
    background-color:orange;
}

.clear, .equals{
    background-color:crimson;
}